{% extends 'nav.html' %}
{% block content %}
<header class="navigation">
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
        <a href="/login"><button style="border:10px;border-radius: 3px;color:aliceblue;background-color:transparent;font-size: 25px;font-weight:600;">Login</button></a>
    </nav>
</header>
<div class="div-contact">
    <div class="contact-images">

    </div>
    <div class="contact-id">
        <a href="#">LinkedIn</a>
        <a href="#">Website</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>
</div>
{% endblock %}